/* From Uiverse.io by Voxybuns */ 
.btn-hero {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: theme("colors.dark.900");
    --button_outline_color: theme("colors.dark.200");
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
  }
  
  .btn-hero-text {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-4px);
    transition: transform 0.1s ease;
  }
  
  .btn-hero:hover .btn-hero-text {
    transform: translateY(-2px);
  }
  
  .btn-hero:active .btn-hero-text {
    transform: translateY(0);
  }
  